[Desktop Entry]
Encoding=UTF-8
Name=EndeavourOS Quickstart Installer
Comment=Get started by installing some common applications
Exec=eos-quickstart
Terminal=false
Type=Application
Icon=system-software-install
Categories=System;
NoDisplay=false
